@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Rubik:wght@300&display=swap');

.remove-btn{
    margin-right: 0.5rem;
}

.fade-enter{
    opacity: 0.01;
}

.fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit{
    opacity: 1;
}

.fade-exit-active{
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

.app-navbar{
    height: 64px;
    background-image: linear-gradient(to right, #c33764, #1d2671);
}

.auth-button{
    background-color: #00BCD4;
}

.main-footer{
    background:linear-gradient(to left bottom,#0f0c29,#302b63);
    color:#fff;
    text-align: center;
}

.main-footer h3{
    font-size: 18px;
    padding: 14px;
    font-family: 'Blinker', sans-serif;
    color:#fff;
    pointer-events: none;
    margin-bottom: 0px;
    text-align: center;
}

.contact-footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 30px 100px;
    background:linear-gradient(to right top,#23074d,#cc5333);
    border-radius: 26px 26px 0px 0px;
}

#footer-elements{
    position: relative;
    width:25%;
}

#footer-elements h3{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    left:32px;
}


#footer-elements ul li{
    list-style: none;
}

#footer-elements ul li a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

/*Chatbot UI*/

.chatbot-btn{
    position: fixed;
    border: none;
    outline: none;
    right: 30px;
    bottom: 40px;
    background: #faface ;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s;
    box-shadow: 0 5px 5px #00BCD4;
}

.chatbot-btn:hover + .chatbot-btn-batch {
    opacity: 1;
    transform: scale(1.1);
}

.chatbot-btn:hover{
    opacity: 1;
    transform: scale(1.1);
}

.chatbot-btn:focus{
    outline: none;
    border: none;
}

.chatbot-btn-batch{
    position: fixed;
    right: 30px;
    bottom: 92px;
    border-radius: 50%;
    opacity: 0.54;
    width: 15px;
    height: 15px;
    background: red;
}

/*App nav css*/

.app-nav{
    position: relative;
    width: auto;
    height: 52px;
    border-radius: 8px;
}

.app-nav-a{
  font-size: 1.0em;
  color: white;
  line-height: 52px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.app-nav-a:hover{
    text-decoration: none;
    color: #fff;
}

.app-nav-a:nth-child(1){
    width:90px;
}
nav .start-home, .app-nav-a:nth-child(1):hover~.animation{
    width:18%;
    left:12px;
}
.app-nav-a:nth-child(2){
    width:90px;
}
nav .start-about, .app-nav-a:nth-child(2):hover~.animation{
    width:18%;
    left:102px;
}
.app-nav-a:nth-child(3){
    width:90px;
}
nav .start-services, .app-nav-a:nth-child(3):hover~.animation{
    width:18%;
    left:192px;
}
.app-nav-a:nth-child(4){
    width:90px;
}
nav .start-contact, .app-nav-a:nth-child(4):hover~.animation{
    width:18%;
    left:283px;
}

.app-nav .animation{
    position: absolute;
    height: 5px;
    bottom:0;
    z-index: 0;
    left: 12px;
    background: #87cefa;
    width:18%;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

.app-nav-bar-mobile-view a{
    color:#a1f1f6;
    display: block;
    font-family: 'Blinker';
    font-size: 1.0em;
    line-height: 2.4em;
    text-align: start;
    padding-left: 2px;
    padding-top: 4px;
    text-decoration: none;
}

.app-nav-bar-mobile-view a:hover{
    color:#fff;
}

/*Button UI*/
.btn-text-sup{
    font-size: 14px;
    font-family: 'Mulish';
    color: #fff;
    padding-top: 3px;
    padding-left: 9px;
}
.btn-text-log{
    font-size: 14px;
    font-family: 'Mulish';
    color: #fff;
    padding-top: 3px;
    padding-left: 14px;
}
#sign-up-btn{
    left:30px;
    top:5px;
    height: 40px;
    width: 80px;
    position: relative;
    border: 1px solid #fff;
    text-decoration: none;
    background: #2a0845;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 8px;
}

#sign-up-btn:hover{
    text-decoration: none;
    background: #1e90ff;
    transform: scale(1.1);
    box-shadow: 0 0 2px #0ff, 0 0 2px #0ff;
}

#login-btn{
    left: 40px;
    top:5px;
    height: 40px;
    width: 80px;
    position: relative;
    border: 1px solid #fff;
    text-decoration: none;
    background: #2a0845;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 8px;
}

#login-btn:hover{
    text-decoration: none;
    background: #1e90ff;
    transform: scale(1.1);
    box-shadow: 0 0 2px #0ff, 0 0 2px #0ff;
}
#logout-btn{
    border: 1px solid #fff;
    text-decoration: none;
    background: #2a0845;
    color:rgb(236, 227, 227);
    border-radius: 8px;
}
#logout-btn:hover{
    text-decoration: none;
    background: #1e90ff;
}

#connect-with-us-img-area{
    margin-left: 28px;
}
#connect-with-us-img-area a{
   display: inline-block;
   height: 43px;
   width: 40px;
   margin: 0 10px 0 10px;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   transition: all 0.3s ease;
}
#connect-with-us-img-area a:nth-child(1){
    background: #7289DA;
}
#connect-with-us-img-area a:nth-child(2){
    background: #2c2a2a;
}
#connect-with-us-img-area a:nth-child(3){
    background: #511752;
}

#connect-with-us-img-area a:nth-child(1):hover{
    background: #7fb8eb;
    transform: scale(1.1);
}
#connect-with-us-img-area a:nth-child(2):hover{
    background: #3f3d3d;
    transform: scale(1.1);
}
#connect-with-us-img-area a:nth-child(3):hover{
    background: #6f2372;
    transform: scale(1.1);
}

/*Contact Footer Links*/

#contact-footer-links{
    font-family: 'Mulish';
}

#contact-footer-links:hover{
    transform: scale(1.1);
}


/*Sign up/Register*/

#cue-register-modal-header{
    background:#f1e64a;
    color: #1d2671;
    font-family: 'Poppins';
}

#cue-register-modal-body{
    background-image: linear-gradient(to top right, #e8f36c,#fffdd0);
}

#cue-register-modal-body Label{
    color: #1d2671;
    font-family: 'Rubik';
}

/*Login*/
#cue-login-modal-header{
    background:#7ec8f7;
    color: #1d2671;
    font-family: 'Poppins';
}

#cue-login-modal-body{
    background-image: linear-gradient(to top right, #a9cdff,#89f7fe);
}

#cue-login-modal-body Label{
    color: #1d2671;
    font-family: 'Rubik';
}

/*FAQ*/
#cue-faq h5{
    font-family: 'Poppins';
    color:#0b6623;
}

#cue-faq h6{
    font-family: 'Blinker';
    color:#8a9a5b;
}

#cue-faq p{
    font-family: 'Rubik';
    color: #4f7942;
}

#cue-faq-modal-body{
    background-image: linear-gradient(to top right, #98fb98,#e5f3df);
}

#cue-faq-modal-header{
    background-image: linear-gradient(to right, #c33764, #1d2671);
    color: #c2e9fb;
    font-family: 'Poppins';
}

#cue-faq-modal-footer{
    background:linear-gradient(to left bottom,#0f0c29,#302b63);
}

/*License*/
#cue-license h5{
    font-family: 'Poppins';
    color: #c49102;
}

#cue-license h6{
    font-family: 'Blinker';
    color: #7c600c;;
}

#cue-license p{
    font-family: 'Rubik';
    color: #b68603;;
}

#cue-license-modal-body{
    background-image: linear-gradient(to top right, #e8f36c,#fffdd0);
}


#cue-license-modal-header{
    background-image: linear-gradient(to right, #c33764, #1d2671);
    color: #c2e9fb;
    font-family: 'Poppins';
}

#cue-license-modal-footer{
    background:linear-gradient(to left bottom,#0f0c29,#302b63);
}

/*Terms of service*/
#cue-terms-of-service h5{
    font-family: 'Poppins';
    color: #1034A6;
}
#cue-terms-of-service h6{
    font-family: 'Blinker';
    color: #1034A6;
}

#cue-terms-of-service p{
    font-family: 'Rubik';
    color: #1564b3;
}

#cue-terms-of-service-modal-body{
    background-image: linear-gradient(to top right, #66a6ff,#89f7fe);
}

#cue-terms-of-service-modal-header{
    background-image: linear-gradient(to right, #c33764, #1d2671);
    color: #c2e9fb;
    font-family: 'Poppins';
}

#cue-terms-of-service-modal-footer{
    background:linear-gradient(to left bottom,#0f0c29,#302b63);
}






.app-nav-bar-mobile-view{
    display: none;
 }

 .app-nav{
    display: none;
 }

@media (max-width : 574px){
 .app-nav-bar-mobile-view{
     display: block;
 }

 .app-navbar{
     height: auto;
 }
 .main-footer{
     height: auto;
 }
 .contact-footer{
     flex-direction: column;
     padding: 30px 24px;
     height: auto;
 }
 #footer-elements{
     width:96%
 }
 #contact-footer-links:hover{
    transform: none;
 }

 #login-btn{
  left:0px;
 }
 #sign-up-btn{
  left:0px;
 }

 .btn-text-sup{
     padding-left: 15px;
 }
 
 .btn-text-log{
     padding-left: 21px;
 }

}

@media (min-width : 1060px){
 .app-nav{
     display: block;
 }
 .app-navbar{
     height: 64px;
 }
}