@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html{
    scroll-behavior: smooth;
}
#home-text h1{
      font-size: 44px;
      font-family: 'PT Sans', sans-serif;
      color: #398abd;
  }

#home-text h3{
      font-size: 30px;
      font-family: 'Cairo', sans-serif;
      color: #67b0dd;
  }

#home-text p{
      font-size: 20px;
      font-family: 'Hind guntur', sans-serif;
      color:#7ac0ec;
  }

.service-landing-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 658px;
    padding-top: 60px;
    background-image: url('../assets/bg8.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.home-landing-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    height: 658px;
    background-image: url('../assets/bg3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.about-us-landing-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    height: 658px;
    background-image: url('../assets/bg3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact-landing-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    height: 340px;
    background-image: url('../assets/bg3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #87cefa;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
}

.single-box-landing{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 520px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    background-size: cover;
    background-position: center center;
}

.single-box:nth-child(1) .img-area{
    background-image: url('../assets/web-design.png');
    background-size: 80%;
    background-repeat: no-repeat;
}
.single-box:nth-child(2) .img-area{
    background-image: url('../assets/map-loc-api.png');
    background-size: 70%;
    background-repeat: no-repeat;
}
.single-box:nth-child(3) .img-area{
    background-image: url('../assets/chatbot.png');
    background-size: 80%;
    background-repeat: no-repeat;
}

.header-text{
    font-size: 20px;
    font-family: 'Poppins','sans-serif';
    font-weight: 500;
    line-height: 48px;
}

.img-text{
    font-family: 'Hind guntur', sans-serif;
    padding-top: 20px;
}

.img-text p{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Blinker','sans-serif';
}

.single-box:hover{
    background: #00bcd4;
}