@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200&display=swap');
.custom-section{
    width: inherit;
    padding: 20px 0;
    padding-left: 260px;
    margin-left: 0px;
    justify-content: center;
    text-align: start;
}

#home-text h1{
      font-size: 34px;
      font-family: 'PT Sans', sans-serif;
      color: #398abd;
  }

#home-text h3{
      font-size: 30px;
      font-family: 'Cairo', sans-serif;
      color: #67b0dd;
  }

#home-text h4{
    font-size: 18px;
    font-family: 'Blinker', sans-serif;
    color:#fff;
}

#home-text p{
      font-size: 20px;
      font-family: 'Hind guntur', sans-serif;
      color:#7ac0ec;
  }

.logo-area{
    display:flex;
    justify-content: center;
    align-items: center;
}

.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.box-area-map{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #87cefa;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
}

.single-box-cue{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: auto;
    border-radius: 12px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
}

.single-box-cue-2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: auto;
    border-radius: 12px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
}

.single-box-template{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    margin: 20px;
    padding: 3px;
    transition: .3s;
}

.single-box-map{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: #00bcd4;
    text-align: center;
    margin: 20px;
    padding: 3px;
    transition: .3s;
}

.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 7px solid #87eefa;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}



.single-box:nth-child(1) .img-area{
    background-image: url('../assets//OnBoarding/OB2.png');
}
.single-box:nth-child(2) .img-area{
    background-image: url('../assets//OnBoarding/OB1.png');
}
.single-box:nth-child(3) .img-area{
    background-image: url('../assets//OnBoarding/OB3.png');
}

.single-box-cue:nth-child(1){
    background-color: #bd976b;
}
.single-box-cue:nth-child(2){
    background-color:#9675aa;
}
.single-box-cue-2:nth-child(1){
    background-color: #ce2024;
}
.single-box-cue-2:nth-child(2){
    background-color: #214fc6;
}



.header-text{
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}

.header-text-cue{
    font-size: 12px;
}

.img-text-cue{
    font-family: 'Blinker', sans-serif;
    padding-top: 10px;
    color: #fff;
}

.img-text{
    font-family: 'Hind guntur', sans-serif;
    padding-top: 20px;
}

.img-text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.single-box:hover{
    background: #00bcd4;
}

.single-box-map:hover{
    background: #1bdf1b;
}

.single-box-cue:nth-child(1):hover{
    background-color: #bdd76b;
}
.single-box-cue:nth-child(2):hover{
    background-color:#96c5aa;
}
.single-box-cue-2:nth-child(1):hover{
    background-color: #ce8024;
}
.single-box-cue-2:nth-child(2):hover{
    background-color: #219fc6;
}


#main-footer{
    background: #00bcd4;
    color:#fff;
    text-align: center;
    padding: 10px;
    margin-top: 80px;
}

.map-api{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}