@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html{
    scroll-behavior: smooth;
}

/*Home UI*/
.home-landing-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    height: 658px;
    background:linear-gradient(to right top,#1a2980,#24c6dc);
}

.home-glass{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    min-height: 65vh;
    width: 78%;
    border-radius: 2rem;
    z-index: 2;
    background: linear-gradient(to right bottom, #a5f1f6, rgba(255, 255, 255, 0.3));
}

.home-circle-1,.home-circle-2{
    background: #fff;
    background: linear-gradient(to right bottom, #b4f5fa, rgba(255, 255, 255, 0.1));
    height: 14rem;
    width: 14rem;
    position: absolute;
    border-radius: 50%;
}

.home-circle-1{
    top:12.6%;
    right:4%;
}

.home-circle-2{
    bottom: 2.4%;
    left: 4%;
}

/*Home UI - Dashboard*/

.home-dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    min-height: 65vh;
    border-radius: 2rem;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.3));
}

#home-guest-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: #1a2980;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
    background-image: url('../assets/guest_user_svg.svg');
    background-size: 66%;
    background-position: 1.45rem;
    background-repeat: no-repeat;
}

#home-guest-btn{
    height: 40px;
    width: 80px;
    position: relative;
    border: 0rem solid;
    text-decoration: none;
    color: #a1f1f6;
    font-family: 'Ubuntu';
    background:linear-gradient(to right top,#1a2980,#37a0ad);
    overflow: hidden;
    transition: 0.2s;
    border-radius: 8px;
    outline: none;
    margin-bottom: 18px;
}

#home-guest-btn:hover{
    text-decoration: none;
    background:linear-gradient(to left bottom,#1a2980,#37a0ad);
    transform: scale(1.1);
}

#home-guest-btn:active{
    outline: none;
}

/*Home UI - Gist*/
.home-gist{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home-gist-welcome{
    width: 400px;
}

#home-text h1{
      font-size: 44px;
      font-family: 'PT Sans', sans-serif;
      color: #398abd;
  }

#home-text h3{
      font-size: 30px;
      font-family: 'Cairo', sans-serif;
      color: #457999;
  }

#home-text h5{
    font-size: 18px;
    font-family: 'Ubuntu';
    color:#5089ac;
    margin-bottom: 0px;
}

#home-text p{
    font-size: 20px;
    font-family: 'Hind guntur', sans-serif;
    line-height: 1.6rem;
    color:#4e62d1;
}



/*About us UI*/
.about-us-landing-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    height: 658px;
    background:linear-gradient(to right top,#fc1,#b33);
}

.about-us-glass{
    display: flex;
    flex-direction: row;
    background: #fff;
    margin-top: 10px;
    min-height: 75vh;
    width: 84%;
    border-radius: 2rem;
    z-index: 0;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
}

.about-us-gist{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center
}

.about-us-glass-inner{
    flex: 2;
    display: flex;
    flex-direction: row;
    margin: 40px 0px;
    margin-right: 40px;
    width: 84%;
    border-radius: 2rem;
    z-index: 0;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}
.about-us-box-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    width: 100%;
    height: auto;
}

.about-us-single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 265px;
    height: 75%;
    border-radius: 50%;
    background: linear-gradient(to right bottom,#ffffd4, rgba(255, 255, 255, 0.3));
    text-align: center;
    z-index: 0;
    margin: 20px;
    padding: 20px;
    transition: 1.2s;
}


#about-text h2{
    font-size: 32px;
    padding: 20px 10px;
    font-family: 'Cairo', sans-serif;
    color: rgb(185, 70, 70);
}

#about-us-single-box-details h3{
    font-size: 22px;
    font-family: 'Poppins';
    margin-top: 28px;
    color: #c69f26;
}

#about-us-single-box-details h4{
    font-size: 15px;
    font-family: 'Ubuntu';
    font-weight: 500;
    color: #cc9e06;
}

#about-us-single-box-details h5{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Blinker';
    color: #cc9e06;
}



/*Service UI*/
.service-landing-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 658px;
    padding-top: 60px;
    background:linear-gradient(to right top,#2f80ed,#bacef0);
}

.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 26px;
    background: linear-gradient(to right bottom, #a5f1f6, rgba(255, 255, 255, 0.3));
    text-align: center;
    z-index: 0;
    margin: 20px;
    padding: 20px;
    transition: 1.2s;
}

.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 2px solid #aff3f8;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background: #aff3f8;
    background-size: cover;
    background-position: center center;
}

.single-box:nth-child(1) .img-area{
    background-image: url('../assets/responsive_web_design_v2.svg');
    background-size: 65%;
    background-repeat: no-repeat;
}
.single-box:nth-child(2) .img-area{
    background-image: url('../assets/map_api.svg');
    background-size: 61%;
    background-repeat: no-repeat;
}
.single-box:nth-child(3) .img-area{
    background-image: url('../assets/chat_bot_svg_v2.svg');
    background-size: 65%;
    background-repeat: no-repeat;
}

.header-text{
    font-size: 20px;
    font-family: 'Poppins','sans-serif';
    font-weight: 500;
    line-height: 48px;
    color: #1a2980;
}

.img-text{
    font-family: 'Hind guntur', sans-serif;
    padding-top: 20px;
    color: #1a2980;
}

.img-text p{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Blinker','sans-serif';
}

.single-box:hover{
    background: #87cefa;
    z-index: 0;
}



/*Contact UI*/
.contact-landing-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    margin-bottom: -40px;
    height: 380px;
    background:linear-gradient(180deg,#1d2b64,#f5a5bd);
}

.contact-glass{
    display: flex;
    flex-direction: row;
    min-height: 46vh;
    width: 84%;
    border-radius: 2rem 2rem 0rem 0rem;
    z-index: 0;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
}
.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.contact-gist{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-gist h3{
    font-family: 'PT Sans';
    color: #1d2b64;
}

.contact-glass-inner{
    
    display: flex;
    flex-direction: row;
    min-height: 14vh;
    width: 40%;
    margin-bottom: 80px;
    border-radius: 1.2rem;
    backdrop-filter: blur(2rem);
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}

#contact-glass-inner-img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    border-radius: 50%;
    margin:2.5%;
    background: #cc5333;
    background-image: url('../assets/gmail.svg');
    background-size: 55%;
    background-position: 1.0rem;
    background-repeat: no-repeat;
}

#contact-glass-inner-img-text{
    flex:2;
    display: flex;
    width: 100%;
    font-family: 'Cairo';
    justify-content: center;
    align-items: center;
}

#contact-glass-inner-img-text a{
    color: #1a2980;
}

#contact-glass-inner-img-text a:hover{
    color: #2f80ed;
}

#contact-glass-inner-img-text h5{
    font-size: 1.3rem;
    padding: 4% 0%;
    padding-right: 8%;
    text-decoration: underline;
}

/*Guest-user*/
.back-to-home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    background:linear-gradient(to right top,#1a2980,#24c6dc);
}
.back-to-home-glass-inner{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    min-height: auto;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 1rem;
    z-index: 2;
    background: linear-gradient(to right bottom, #a5f1f6, rgba(255, 255, 255, 0.3));
}

#back-to-home-glass-inner-info{
    margin: 1%;
    margin-left: 2%;
    width:20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#back-to-home-glass-inner-timer{
    margin-top:1.25%;
    width:60%;
    justify-content: center;
    align-items: center;
}

#back-to-home-glass-inner-info h5{
   padding-top: 6.06%;
   padding-left: 1%;
   font-size: 25px;
   font-family: 'PT Sans';
   color: #1d2b64;
}

#back-to-home-glass-inner-text{
  margin: 1% 4%;
  justify-content: center;
  align-items: center;
}

#back-to-home-glass-inner-text h5{
  font-size: 16px;
  text-align: center;
  font-family: 'Cairo';
  color: #1d2b64;
}

#back-to-home-btn{
    height: 40px;
    width: 80px;
    position: relative;
    border: 0rem solid;
    text-decoration: none;
    color: #a1f1f6;
    font-family: 'Ubuntu';
    background:linear-gradient(to right top,#1a2980,#37a0ad);
    overflow: hidden;
    transition: 0.2s;
    border-radius: 8px;
    outline: none;
}
#back-to-home-btn:hover{
    text-decoration: none;
    background:linear-gradient(to left bottom,#1a2980,#37a0ad);
    transform: scale(1.1);
}

#back-to-home-btn:active{
    outline: none;
}



/*Media Screen (Responsiveness for Mobile View)*/
@media (max-width :1024px){
    .box-container{
        height: auto;
    }
    .home-glass{
        flex-direction: column;
        width: 75%;
        height: auto;
    }
    .back-to-home{
        height: auto;
    }
    .home-landing-section{
        height: auto;
        padding-bottom: 40px;
        padding-top: 80px;
    }
    .home-circle-1,.home-circle-2{
        visibility: hidden;
    }
    #home-gist-welcome{
        width: auto;
    }
    .about-us-glass{
        flex-direction: column;
        width: 92%;
        height: auto;
    }
    .about-us-glass-inner{
        flex-direction: column;
        margin: 6%;
        width: 88%;
    }
    .about-us-box-wrapper{
        flex-direction: column;
    }
    .about-us-single-box{
        width: auto;
        height: 280px;
    }
    .about-us-landing-section{
        height: auto;
        padding-bottom: 50px;
    }
    .service-landing-section{
        height: auto;
        padding-bottom: 50px;
    }
    .contact-landing-section{
        padding-top: 40px;
        height: auto;
    }
    .contact-glass-inner{
        width: fit-content;
    }
    #contact-glass-inner-img-text h5{
    font-size: 100%;
    padding-left: 4%;
    color: #1a2980;
    text-decoration: underline;
    }
    #contact-glass-inner-img-area{
        height: auto;
        background-position: 0.8rem;
    }
    #back-to-home-glass-inner-info h5{
        font-size: 18px;
    }
}

@media (max-width :1024px) and (min-width:574px){
    .about-us-glass{
        width: 50%;
    }
}

@media (min-height : 670px){
    .home-circle-1{
        visibility: hidden;
    }
    .home-circle-2{
        visibility: hidden;
    }
}

@media (max-height : 600px){
    .home-circle-1{
        visibility: hidden;
    }
    .home-circle-2{
        visibility: hidden;
    }
}

@media (min-height : 700px){
    .contact-glass-inner{
        margin-bottom: 10%;
    }
}

@media (max-width :550px) and (min-width:370px){
    .contact-glass-inner{
        margin-bottom: 20%;
    }
}

@media (max-height : 700px){
    #back-to-home-glass-inner-info{
        margin-top:1.3%;
        width: 20%;
    }
    #back-to-home-glass-inner-info h5{
        font-size: 20px;
    }
    #back-to-home-glass-inner-timer{
        margin-top:1.1%;
    }
    #back-to-home-btn{
        height: 36px;
    }
}


@media (max-width :574px){
    #back-to-home-glass-inner-info{
        margin-top:2.2%;
        width:100%;
    }
    #back-to-home-glass-inner-info h5{
        font-size: 18px;
    }
    #back-to-home-glass-inner-timer{
        margin-top:2.2%;
    }
    #back-to-home-glass-inner-text h5{
       margin-bottom:5%;
       margin-top:4%;
    }
    #back-to-home-btn{
        height: 34px;
        margin-bottom: 6px;
    }
}