@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200&display=swap');


#home-text h1{
      font-size: 44px;
      font-family: 'PT Sans', sans-serif;
      color: #398abd;
      pointer-events: none;
  }

#home-text h3{
      font-size: 30px;
      font-family: 'Cairo', sans-serif;
      color: #67b0dd;
      pointer-events: none;
  }

#home-text h4{
    font-size: 18px;
    font-family: 'Blinker', sans-serif;
    color:#fff;
    pointer-events: none;
}

#home-text p{
      font-size: 20px;
      font-family: 'Hind guntur', sans-serif;
      color:#7ac0ec;
      pointer-events: none;
  }

.logo-area{
    display:flex;
    justify-content: center;
    align-items: center;
}

.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.box-area-map{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}


.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #87cefa;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
}

.single-box-cue{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: auto;
    border-radius: 12px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
}

.single-box-cue-2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: auto;
    border-radius: 12px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
}

.single-box-template{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    margin: 20px;
    padding: 3px;
    transition: .3s;
}

.single-box-map{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: #00bcd4;
    text-align: center;
    margin: 20px;
    padding: 3px;
    transition: .3s;
}

.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 7px solid #87eefa;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}



.single-box:nth-child(1) .img-area{
    background-image: url('../assets//OnBoarding/OB2.png');
}
.single-box:nth-child(2) .img-area{
    background-image: url('../assets//OnBoarding/OB1.png');
}
.single-box:nth-child(3) .img-area{
    background-image: url('../assets//OnBoarding/OB3.png');
}

.single-box-cue:nth-child(1){
    background-color: #bd976b;
}
.single-box-cue:nth-child(2){
    background-color:#9675aa;
}
.single-box-cue-2:nth-child(1){
    background-color: #ce2024;
}
.single-box-cue-2:nth-child(2){
    background-color: #214fc6;
}



.header-text{
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    pointer-events: none;
}

.header-text-cue{
    font-size: 12px;
    pointer-events: none;
}

.img-text-cue{
    font-family: 'Blinker', sans-serif;
    padding-top: 10px;
    color: #fff;
}

.img-text{
    font-family: 'Hind guntur', sans-serif;
    padding-top: 20px;
    pointer-events: none;
}

.img-text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    pointer-events: none;
}

.single-box:hover{
    background: #00bcd4;
}

.single-box-map:hover{
    background: #1bdf1b;
}

.single-box-cue:nth-child(1):hover{
    background-color: #bdd76b;
}
.single-box-cue:nth-child(2):hover{
    background-color:#96c5aa;
}
.single-box-cue-2:nth-child(1):hover{
    background-color: #ce8024;
}
.single-box-cue-2:nth-child(2):hover{
    background-color: #219fc6;
}


#main-footer{
    background: #00bcd4;
    color:#fff;
    text-align: center;
    padding: 10px;
    margin-top: 80px;
}

.map-api{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

/* Cue-primary-buttons*/

.cue-wrapper-body{
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}
.cue-wrapper-inner{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2.2em;
}
.cue-wrapper-outer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.1em;
}

.single-box-cue-pole-police{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: auto;
    border-radius: 12px;
    text-align: center;
    margin: 20px;
    padding: 18px;
    transition: .3s;
    background-color: #bd976b;
    z-index: 99;
    transition: 500ms transform cubic-bezier(0.785, 0.18, 0.415, 1.65);
}
.single-box-cue-pole-fire{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: auto;
    border-radius: 12px;
    text-align: center;
    margin: 20px;
    padding: 18px;
    transition: .3s;
    background-color: #ce2024;
}
.single-box-cue-pole-medical{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: auto;
    border-radius: 12px;
    text-align: center;
    margin: 20px;
    padding: 16px;
    padding-top: 18px;
    transition: .3s;
    background-color:#9675aa;
}
.single-box-cue-pole-vehicle{
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 75px;
    height: auto;
    border-radius: 12px;
    text-align: center;
    margin: 20px;
    transition: .3s;
    padding-top: 18px;
    background-color: #214fc6;
}

.single-box-cue-pole-police:hover{
    background-color: #bdd76b;
    transform:scale(1.1)
}
.single-box-cue-pole-medical:hover{
    background-color:#96c5aa;
    transform:scale(1.1)
}
.single-box-cue-pole-fire:hover{
    background-color: #ce8024;
    transform:scale(1.1)
}
.single-box-cue-pole-vehicle:hover{
    background-color: #219fc6;
    transform:scale(1.1)
}

.header-text-cue-pole{
    font-size: 12px;
    pointer-events: none;
}

.img-text-cue-pole{
    font-family: 'Blinker', sans-serif;
    padding-top: 10px;
    color: #fff;
}

/* Cue-secondary-buttons */

.sos-pole-police-open:focus,.sos-pole-fire-open:focus,.sos-pole-medical-open:focus,.sos-pole-vehicle-open:focus,.maps-pole-police-open:focus,.maps-pole-fire-open:focus,.maps-pole-medical-open:focus,.maps-pole-vehicle-open:focus{
    border: none;
    outline: none;
}
.sos-pole-police-close:focus,.sos-pole-fire-close:focus,.sos-pole-medical-close:focus,.sos-pole-vehicle-close:focus,.maps-pole-police-close:focus,.maps-pole-fire-close:focus,.maps-pole-medical-close:focus,.maps-pole-vehicle-close:focus{
    border: none;
    outline: none;
}

.sos-pole-police-close{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    bottom: -8rem;
    opacity: 0;
    transform:rotatez(-45deg);
    pointer-events: none;
}
.sos-pole-police-open{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    opacity:1;
    bottom:0rem;
    transform:rotatez(0deg);
    pointer-events:auto;
    background-position: center;
    background-color: #bd976b;
    background-image: radial-gradient(circle, transparent 1%, #bd976b 1%);
    background-size: 20000%;
}
.sos-pole-police-open:active{
    outline: none;
    background-color: #bdd76b;
    transition: background 0s;
    background-size: 100%;
}

.sos-pole-fire-close{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    bottom: -8rem;
    opacity: 0;
    transform:rotatez(-45deg);
    pointer-events: none;
}
.sos-pole-fire-open{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    opacity:1;
    bottom:0rem;
    transform:rotatez(0deg);
    pointer-events:auto;
    background-position: center;
    background-color: #ce2024;
    background-image: radial-gradient(circle, transparent 1%, #ce2024 1%);
    background-size: 20000%;
}
.sos-pole-fire-open:active{
    outline: none;
    background-color: #ce8024;
    transition: background 0s;
    background-size: 100%;
}

.sos-pole-medical-close{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    bottom: 8rem;
    opacity: 0;
    transform:rotatez(-45deg);
    pointer-events: none;
}
.sos-pole-medical-open{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    opacity:1;
    bottom:0rem;
    transform:rotatez(0deg);
    pointer-events:auto;
    background-position: center;
    background-color: #9675aa;
    background-image: radial-gradient(circle, transparent 1%, #9675aa 1%);
    background-size: 20000%;
}
.sos-pole-medical-open:active{
    outline: none;
    background-color: #96c5aa;
    transition: background 0s;
    background-size: 100%;
}

.sos-pole-vehicle-close{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    bottom: 8rem;
    opacity: 0;
    transform:rotatez(-45deg);
    pointer-events: none;
}
.sos-pole-vehicle-open{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    opacity:1;
    bottom:0rem;
    transform:rotatez(0deg);
    pointer-events:auto;
    background-position: center;
    background-color: #214fc6;
    background-image: radial-gradient(circle, transparent 1%, #214fc6 1%);
    background-size: 20000%;
}
.sos-pole-vehicle-open:active{
    outline: none;
    background-color: #219fc6;
    transition: background 0s;
    background-size: 100%;
}

.maps-pole-police-close{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    padding-left: 10px;
    padding-top: 4px;
    margin-top: 35px;
    border-radius: 50%;
    text-align: center;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    right: -8rem;
    opacity: 0;
    transform:rotatez(-45deg);
    pointer-events: none;
}
.maps-pole-police-open{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    padding-left: 10px;
    padding-top: 4px;
    margin-top: 35px;
    border-radius: 50%;
    text-align: center;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    opacity:1;
    right:0rem;
    transform:rotatez(0deg);
    pointer-events:auto;
    background-position: center;
    background-color: #bd976b;
    background-image: radial-gradient(circle, transparent 1%, #bd976b 1%);
    background-size: 20000%;
}
.maps-pole-police-open:active{
    outline: none;
    background-color: #bdd76b;
    transition: background 0s;
    background-size: 100%;
}

.maps-pole-fire-close{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    padding-left: 10px;
    padding-top: 4px;
    margin-top: 35px;
    border-radius: 50%;
    text-align: center;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    right: 8rem;
    opacity: 0;
    transform:rotatez(-45deg);
    pointer-events: none;
}
.maps-pole-fire-open{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    padding-left: 10px;
    padding-top: 4px;
    margin-top: 35px;
    border-radius: 50%;
    text-align: center;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    opacity:1;
    right:0rem;
    transform:rotatez(0deg);
    pointer-events:auto;
    background-position: center;
    background-color: #ce2024;
    background-image: radial-gradient(circle, transparent 1%, #ce2024 1%);
    background-size: 20000%;
}
.maps-pole-fire-open:active{
    outline: none;
    background-color: #ce8024;
    transition: background 0s;
    background-size: 100%;
}

.maps-pole-medical-close{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    padding-left: 10px;
    padding-top: 4px;
    margin-top: 35px;
    border-radius: 50%;
    text-align: center;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    right: -8rem;
    opacity: 0;
    transform:rotatez(-45deg);
    pointer-events: none;
}
.maps-pole-medical-open{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    padding-left: 10px;
    padding-top: 4px;
    margin-top: 35px;
    border-radius: 50%;
    text-align: center;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    opacity:1;
    right:0rem;
    transform:rotatez(0deg);
    pointer-events:auto;
    background-position: center;
    background-color: #9675aa;
    background-image: radial-gradient(circle, transparent 1%, #9675aa 1%);
    background-size: 20000%;
}
.maps-pole-medical-open:active{
    outline: none;
    background-color: #96c5aa;
    transition: background 0s;
    background-size: 100%;
}

.maps-pole-vehicle-close{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    padding-left: 10px;
    padding-top: 4px;
    margin-top: 35px;
    border-radius: 50%;
    text-align: center;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    right: 8rem;
    opacity: 0;
    transform:rotatez(-45deg);
    pointer-events: none;
}
.maps-pole-vehicle-open{
    position: relative;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 70px;
    padding-left: 10px;
    padding-top: 4px;
    margin-top: 35px;
    border-radius: 50%;
    text-align: center;
    transition: 500ms all cubic-bezier(0.785, 0.18, 0.415, 1.65);
    opacity:1;
    right:0rem;
    transform:rotatez(0deg);
    pointer-events:auto;
    background-position: center;
    background-color: #214fcb;
    background-image: radial-gradient(circle, transparent 1%, #214fcb 1%);
    background-size: 20000%;
}
.maps-pole-vehicle-open:active{
    outline: none;
    background-color: #219fc6;
    transition: background 0s;
    background-size: 100%;
}

.sos-pole-police-open:hover,.maps-pole-police-open:hover{
    background-color: #bdd76b;
    transform:scale(1.1)
}
.sos-pole-fire-open:hover,.maps-pole-fire-open:hover{
    background-color: #ce8024;
    transform:scale(1.1)
}
.sos-pole-medical-open:hover,.maps-pole-medical-open:hover{
    background-color: #96c5aa;
    transform:scale(1.1)
}
.sos-pole-vehicle-open:hover,.maps-pole-vehicle-open:hover{
    background-color: #219fc6;
    transform:scale(1.1)
}



@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}